<div class="leftDrawerTop">
  <img src="../../assets/img/WorkspaceLogo.svg" alt="" />
  <div class="leftDrawerTopic">Code learning</div>
  <mat-icon>editOutlined</mat-icon>
</div>

<div class="channelContainer">
  <div class="channelsTop"><mat-icon>workspacesOutlined</mat-icon>Channels</div>
  <div>
    <ul>
      <li *ngFor="let channel of channels; let i = index"
      (click)="this.drawerService.close(); this.currentChannel(this.channel['title']); setMode(false)"
        class="klick"
        [routerLink]="['/home', 'channel', this.channel['id']]"
        routerLinkActive="active">
        # {{this.channel['title']}}
      </li>
     </ul>
  </div>




  <div class="channelsTop"><mat-icon>account_circleOutlined</mat-icon>Direktnachrichten</div>
  <div>
    <ul>
      <li *ngFor="let user of users let i = index"
      class="message"
      (click)="this.messageService.getThisChat(user['id']);setMode(true)"
      [routerLink]="['/home','chat', user['id']]"
      routerLinkActive="active">
     
        <div class="profile-overview">
          <div class="relativePic">
            <img class="profile-img" src="{{user['img']}}" alt="">
            <div class="status"  [ngClass]="{'green': user['active'], 'grey': !user['active']}" ></div>
            </div>
            <div *ngIf="user['id'] != this.currentUserID" class="profile-name">{{ user['username']}}</div>
            <div *ngIf="user['id'] == this.currentUserID" class="profile-name">{{ user['username']}} (Du)</div>
       </div>
      
       
      </li>
     </ul>
  </div>

</div>
