<div class="leftDrawerTop">
  <img src="../../assets/img/WorkspaceLogo.svg" alt="" />
  <div class="leftDrawerTopic">Code learning</div>
  <mat-icon>editOutlined</mat-icon>
</div>
<!-- 
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-icon>account_circle</mat-icon>
      <mat-panel-title>
      Channels
      </mat-panel-title>
     
    </mat-expansion-panel-header>

   <div># Entwicklerteam</div>

  </mat-expansion-panel> -->
<div class="channelContainer">
  <div class="channelsTop"><mat-icon>workspacesOutlined</mat-icon>Channels</div>
  <div>
    <ul>
      <li
        class="klick"
        [routerLink]="['/home', 'channel', '9Gwz1Ce763caWx5FCBZL']"
        routerLinkActive="active">
        # Entwicklerteam
      </li>
      <li
        class="klick"
        [routerLink]="['/home', 'channel', 'OnQ02XRJqwZRA0ts0qc5']"
        routerLinkActive="active">
        # Office-Team
      </li>
    </ul>
  </div>
</div>
