

<!-- <div *ngIf="trueFalse" class="deviderBox">
    <div class="formatedDate">{{formatedDate}}</div>
</div>
<div *ngIf="trueFalse" class="dateDevider"></div> -->

<!-- <div *ngIf="author"  (click)="getThread(this.postService.activeChannel, this.post.id); this.drawerService.open(); this.threadService.getPostForThread(this.post, this.author)" class="singlePost"> -->
<div (click)="openProfile(messageAuthor)" [ngClass]="{'chatContentContainerFliped': flip, 'chatContentContainer': !flip}" *ngIf="messageAuthor" class="ml-20 pointer">
    <div class="profile-pic">
        <img src="{{messageAuthor['img']}}">
    </div>
    <div class="post-content">
        <div  [ngClass]="{'firstRowFliped': flip, 'firstRow': !flip}"> 
            <div class="post-author">{{messageAuthor['username']}}</div> 
            <div class="post-description">{{chat['description']}}</div>
        </div>
    </div>
</div>
   
   