

<div *ngIf="newDate" class="deviderBox">
    <div class="formatedDate">{{this.postService.getFormatedDateFromTimestamp(chat['timestamp'])}}</div>
</div>
<div *ngIf="newDate" class="dateDevider"></div>

<!-- <div *ngIf="author"  (click)="getThread(this.postService.activeChannel, this.post.id); this.drawerService.open(); this.threadService.getPostForThread(this.post, this.author)" class="singlePost"> -->

<div  [ngClass]="{'chatContentContainerFliped': flip, 'chatContentContainer': !flip}" *ngIf="messageAuthor" >
    <div class="reactionEmoji">
        <emoji-mart
          class="emoji-mart"
          *ngIf="showPicker"
          (emojiSelect)="addReaction($event, chat)"
          [set] = "apple"
          [enableSearch] = "false"
          [showPreview] = "false"
          title="Choose your emoji"
        ></emoji-mart>
      </div>
    <div class="profile-pic">
        <img src="{{messageAuthor['img']}}">
    </div>
    <div class="post-content">
        <div  [ngClass]="{'firstRowFliped': flip, 'firstRow': !flip}"> 
           <div (click)="openProfile(messageAuthor)" class="post-author pointer">{{messageAuthor['username']}}</div>
            <div class="post-description">{{chat['description']}}</div>

            <!-- show attachement-->
        <div class="showAttachement"> 
            <a *ngIf="chat['file'] && !isPDF" [href]="downloadUrl" download="file.png" (click)="convertBase64ToFile()">
            <img *ngIf="chat['file'] && !isPDF" [src]="chat['file']" alt="Bild"></a>
            <canvas #pdfCanvasMessage *ngIf="isPDF" (click)="downloadPDF()"></canvas> 
          </div>

            <div class="reactionsRow">
                <img src="../../assets/img/add_reaction.svg" alt="" (click)="showPicker = !showPicker">
                <div *ngFor="let reaction of reactions">
                    <ng-container *ngIf="reaction['names'].length > 0">
                    <div class="reactionBubble" 
                        (mouseover)="hoveredReaction = reaction"
                        (mouseout)="hoveredReaction = null"
                        (click)="this.smilyService.addOrDeleteReactionMessage(reaction['emoji'], chat['id'], this.currentUserID)">
                        {{reaction['emoji']}} {{reaction['user'].length}}
                        
                        <div class="additionalInfo" [ngClass]="{'visible': hoveredReaction === reaction}">
                           <div class="emojiIcon">{{reaction['emoji']}}</div>    
                            
                            <!-- Lassen Sie 'currentUser' immer an erster oder zweiter Stelle erscheinen -->
                            <ng-container *ngIf="reaction['names'].includes(currentUserName)">
                                Du
                            </ng-container>
                            <ng-container *ngIf="reaction['names'].length == 2 && reaction['names'].includes(currentUserName)">und</ng-container>
                            <ng-container *ngFor="let name of reaction['names']| slice:0:2 ; let i = index ">
                                <!-- Filtere 'currentUser' heraus, da es bereits hinzugefügt wurde -->
                                <ng-container *ngIf="name !== currentUserName">
                                    {{ name }}
                                </ng-container>
                                <ng-container *ngIf="!reaction['names'].includes(currentUserName) && reaction['names'].length == 2 && i === 0" >und</ng-container>
                            </ng-container>
                            
                            
                            <!-- Zeige den Zusatz nur an, wenn die Länge des Namens-Arrays größer als 1 ist -->
                            <ng-container *ngIf="reaction['names'].length > 2">
                                und {{reaction['names'].length - 2}} weitere
                            </ng-container>
            
                            <br>
            
                            <!-- Verwende 'haben reagiert', 'hast reagiert' oder 'hat reagiert' basierend auf der Anzahl der Reaktionen und ob 'currentUser' involviert ist -->
                            <ng-container *ngIf="reaction['names'].length >= 2">haben reagiert</ng-container>
                            <ng-container *ngIf="reaction['names'].length === 1 && reaction['names'][0] === currentUserName">hast reagiert</ng-container>
                            <ng-container *ngIf="reaction['names'].length < 2 && !(reaction['names'].length === 1 && reaction['names'][0] === currentUserName)">hat reagiert</ng-container>
            
                        </div>
                    </div>
                    </ng-container>
                </div>
            </div>

        </div>
    </div>
</div>
   
   