<div class="newMessageContainer">
    <div class="headerbox">
    <div class="top">Neue Nachricht</div>
    <div class="mainSearch">
       
        <input 
        class="search"
        type="text"
        [(ngModel)]="searchterm"
        (keyup)="searchMember($event)" class="searchInput" matInput type="text" placeholder="Suche mit # oder @">
        <mat-icon matIconPrefix>search</mat-icon>
    </div>
    <div *ngIf="search" class="searchOverview">
      <div (click)="search = false; searchterm = ''" class="close"><mat-icon>close</mat-icon></div>
    <div *ngIf="search && result" class="showResults">
        <div class="searchHeader">Users</div>
        <div class="noResult" *ngIf="result.users.length == 0">Keine <strong>User</strong> mit <br> Anfangsbuchstaben "{{searchterm}}" <br>gefunden</div>
        <ul *ngFor="let user of result.users">
            <li class="message" (click)="chooseUser(user)">
              <div class="profile-overview">
                <div class="relativePic">
                  <img class="profile-img" src="{{ user['img'] }}" alt="" />
                  <div
                    class="status"
                    [ngClass]="{ green: user['active'], grey: !user['active'] }"
                  ></div>
                </div>
                <div *ngIf="user['id'] != this.currentUserID" class="profile-name">
                  {{ user["username"] }}
                </div>
                <div *ngIf="user['id'] == this.currentUserID" class="profile-name">
                  {{ user["username"] }} (Du)
                </div>
              </div>
            </li>
          </ul>
    </div>
    <div *ngIf="search && result" class="showResults">
        <div class="searchHeader">Channels</div>
        <div class="noResult" *ngIf="result.channels.length == 0">Keine <strong>Channels</strong> mit <br> Anfangsbuchstaben "{{searchterm}}" <br>gefunden</div>
        <ul *ngFor="let channel of result.channels">
           <ng-container>
            <li class="message " (click)="chooseChannel(channel)">
              <div class="channel-overview">
               <div class="centered"><mat-icon>topic</mat-icon> {{ channel["title"] }}</div> 
              </div>
    
              
         
          </li>
           </ng-container>
            
          </ul>
    </div>
    </div> 
    </div>
    
   


   <div class="input-container">
   
    <form class="chatInput input-container" [formGroup]="message">
      <div>
        <emoji-mart
          class="emoji-mart"
          [style]="{ width: '238px' }"
          *ngIf="showEmojiPicker"
          (emojiSelect)="addEmoji($event)"
          [set] = "apple"
          [enableSearch] = "false"
          [showPreview] = "false"
          title="Choose your emoji"
        ></emoji-mart>
      </div>
      <div class="relative">
        
        <textarea #textarea formControlName="description" id="my-message" name="meineTextarea"  rows="4" placeholder="Eine neue Message schreiben ..."></textarea>

      
        <div class="stick">
          <div (click)="sendMessage(this.message)"><mat-icon>send</mat-icon></div>
          
          </div>
         
        
        <div class="inputOptions"> 
           <div class="addDevide">
              <label for="fileInput">
                  <img src="../../assets/img/plus.svg" alt="">
               </label>
           
               <input type="file" id="fileInput" style="display:none;" (change)="onSelectDocument($event)">
            </div> 
           
            <div class="emoji"  >
                <img (click)="showEmojiPicker = !showEmojiPicker" src="../../assets/img/addEmoji.svg" alt="">
                 <img (click)="toggleSearchAt()" src="../../assets/img/addat.svg" alt="">
            </div>
         </div>
  
         <div *ngIf="searchAt" class="showUsers" >
          <ng-container *ngFor="let user of userSorted">
             <div class="userLine" (click)="addAtUser(user['username'])">
              <div class="stati"  [ngClass]="{ green: user['active'], grey: !user['active'] }"></div>
              <div>@{{user['username']}}</div> 
            </div>
          </ng-container>
        </div>



      <div>
         <div *ngIf="url" class="file-preview">
              <div class="attachement" >
                    <img *ngIf="isImage(url)" [src]="url" width="70px"/>
                    <div class="deleteIMG" (click)="url = null">
                          <mat-icon>close</mat-icon>
                    </div>
              </div>
  
               <div class="attachement" *ngIf="!isImage(url)"><img src="../../assets/img/pdf50.png" alt=""></div>
       </div>
      </div>
     </div>
    </form>
    <!-- </div> <a target="_blank" href="https://icons8.com/icon/emjQ5sYXZdXI/pdf">PDF</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    <a target="_blank" href="https://icons8.com/icon/KJ2EV2uQqjHS/pdf">PDF</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>-->
 
  



    </div>

