<div class="input-container">
    <app-chat-no-message *ngIf="(currentChatLength == 0) && directMessage "></app-chat-no-message>
<form class="chatInput input-container" [formGroup]="chatMessage">
    <div>
        <emoji-mart
          class="emoji-mart"
          *ngIf="showEmojiPicker"
          (emojiSelect)="addEmoji($event)"
          [set] = "apple"
          [enableSearch] = "false"
          [showPreview] = "false"
          title="Choose your emoji"
        ></emoji-mart>
      </div>
<div class="relative">
    
<textarea *ngIf="singlePost " formControlName="description" id="message" name="meineTextarea"  rows="4" placeholder="Antworten ..."></textarea>

<div class="stick">
<div *ngIf="singlePost"  (click)="this.savePost(this.chatMessage, this.singlePost['id'])"><mat-icon>send</mat-icon></div>
</div>
<div class="inputOptions"> 
  <div class="addDevide">
      <label for="fileInputThread">
          <img src="../../assets/img/plus.svg" alt="">
      </label>

      <input type="file" id="fileInputThread" style="display:none;" (change)="onSelectDocument($event)"> 
  </div> 

  <div class="emoji"  (click)="showEmojiPicker = !showEmojiPicker">
      <img src="../../assets/img/addEmoji.svg" alt="">
      <img src="../../assets/img/addat.svg" alt="">
  </div>
</div>
<div>
     <div *ngIf="url" class="file-preview">
          <div class="attachement" >
                  <img *ngIf="isImage(url)" [src]="url" width="70px"/>
                  <div class="deleteIMG" (click)="url = null">
                     <mat-icon>close</mat-icon>
                  </div>
         </div>
         <div class="attachement" *ngIf="!isImage(url)"><img src="../../assets/img/pdf50.png" alt=""></div>
    </div>
</div>
</div>
</form>


</div>
