
<div class="container">
   
    <div class="logo">
        <img src="../../assets/img/logo.svg" alt="">
        <div>DABubble</div>
    </div>
<div>
<div class="login-container">
    <button routerLink="/login" mat-icon-button color="primary"> <mat-icon>arrow_back</mat-icon></button>
    <h2>Passwort zurücksetzen</h2>
    <p>Das Passwort muss mindestens 6 Zeichen haben.</p>
    <div [formGroup]="passwordForm" class="login-content">
        
        <mat-form-field appearance="outline" class="fullWidth">
            <mat-label>Neues Passwort</mat-label>
            <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
            <mat-icon matIconPrefix>lock</mat-icon>
            <mat-icon (click)="hide = !hide" matSuffix>{{hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            <mat-error *ngIf="passwordForm.controls['password'].hasError('required')">Bitte Passwort eingeben</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="fullWidth">
            <mat-label>neues Passwort bestätigen</mat-label>
            <input formControlName="confirmPassword" matInput [type]="hideConfirmPassword ? 'password' : 'text'">
            <mat-icon matIconPrefix>lock</mat-icon>
            <mat-icon (click)="hideConfirmPassword = !hideConfirmPassword" matSuffix>{{hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            <mat-error *ngIf="passwordForm.controls['confirmPassword'].hasError('required')">Passwort wiederholen</mat-error>
        </mat-form-field>
        



<div class="spacer"></div>
    

    </div>
   
   

    <div class="button-section">
        <button  (click)="saveNewPassword()" [disabled]="passwordForm.invalid || passwordForm.get('password')?.value != passwordForm.get('confirmPassword')?.value" class="darkButton">Passwort ändern</button>
        <!-- <button class="lightButton">Gäste-Login</button> -->
    </div>

</div>
<div class="legals"><div routerLink="/impressum">Impressum</div><div>Datenschutz</div></div>
</div>

<div></div>
</div>