<div class="postheader">
  <div class="postingheader">
    <div class="leftSide" (click)="openShowChannelInformation()">
     
      <div class="topic" *ngIf="currentChannelData">
        # {{ currentChannelData['title'] }}
      </div>
      <div><mat-icon> keyboard_arrow_down </mat-icon></div>
    </div>
   
      <div class="miniProfilePicsRow" *ngIf="currentChannelData">
        <div *ngIf="!isSmallScreen" class="user"  (click)="openShowMembersDialog(currentChannelData['title'])">
          
          <ng-container *ngFor="let member of members | slice: 0:3">
          <img [src]="member['img']" />
      
          </ng-container>
     
        <div class="amountOfMembers">{{ countsOfMembers }}</div>
        </div>
        <div class="addMember" (click)="openAddMemberDialog(this.currentChannelData['title'])"> 
          <div class="hover">
         <mat-icon>person_add</mat-icon> 
          </div>
        </div> 
      </div>
   
  </div>
</div>
