.postheader {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    z-index: 0;
    position: absolute;
    top: 0px;
    left: 0px;
  right: 0px;
  height: 65px;
    background-color: white;
    box-shadow: 0 2px 4px -1px rgb(195, 195, 195);

}

.postingheader{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}