<div class="postheader">
  <div class="postingheader">
    <div class="leftSide">
      <div class="topic" *ngIf="this.activeChannelTitle">
        # {{ this.activeChannelTitle }}
      </div>
      <div><mat-icon> keyboard_arrow_down </mat-icon></div>
    </div>
    <!-- <div> -->
      <div class="miniProfilePicsRow" *ngIf="activeChannelID">
        <div class="user">
          
          <ng-container *ngFor="let member of members">
          <img [src]="member['img']" />
      
          </ng-container>
     
        <div class="amountOfMembers">{{ countsOfMembers }}</div>
        </div>
        <div class="addMember" (click)="openAddMemberDialog()"> <img src="../../assets/img/add_member.svg" alt=""> </div>
      </div>
    <!-- </div> -->
  </div>
</div>
