<div class="postheader">
  <div class="postingheader">
    <div class="leftSide" (click)="openShowChannelInformation(currentChannel)">
     
      <div class="topic" *ngIf="this.activeChannelTitle">
        # {{ this.currentChannelData['title'] }}
      </div>
      <div><mat-icon> keyboard_arrow_down </mat-icon></div>
    </div>
   
      <div class="miniProfilePicsRow" *ngIf="activeChannelID">
        <div *ngIf="!isSmallScreen" class="user"  (click)="openShowMembersDialog()">
          
          <ng-container *ngFor="let member of members">
          <img [src]="member['img']" />
      
          </ng-container>
     
        <div class="amountOfMembers">{{ countsOfMembers }}</div>
        </div>
        <div class="addMember" (click)="openAddMemberDialog(this.activeChannelTitle)"> <img src="../../assets/img/add_member.svg" alt=""> </div>
      </div>
   
  </div>
</div>
