.postheader {
  z-index: 20;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  position: sticky;
  top: 0px;
  height: 65px;
  background-color: white;
  box-shadow: 0 2px 4px -1px rgb(195, 195, 195);
}

.postingheader {
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;

  .leftSide {
    display: flex;
    align-items: center;
    cursor: pointer;


    &:hover {
      background-color: var(--background-color);
      border-radius: 20px;
      padding: 0 px;
    }
  }
}

.topic {
  margin-right: 5px;
}

.channelTitle {
  font-size: 0.8em;
  color: #535AF1;
}

.miniProfilePicsRow {
  margin-right: 20px;
  display: flex;
  align-items: center;

  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
    margin-right: -17px;
  }

  .amountOfMembers {
    margin-left: 20px;
  }

  .addMember {
    margin-left: 15px;
    cursor: pointer;
  }

  .user {
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 2px 10px;
    cursor: pointer;

    &:hover {
      background-color: var(--background-color);
      color: #535AF1;
    }

  }


  .cdk-overlay-pane {
    border-top-left-radius: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    /* Farbe des Overlay-Hintergrunds */
  }

  .mat-dialog-container {
    background-color: #f2f2f2;
    /* Hintergrundfarbe anpassen */
    border-radius: 30px;
    /* Eckenradius anpassen */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    /* Schatten hinzufügen */
  }


}

.hover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  &:hover {
    background-color: var(--background-color);
  }
}