<div class="container">
    <div class="logo">
        <img src="../../assets/img/logo.svg" alt="">
        <div>DABubble</div>
    </div>
    <div class="impressumContainer">
        <button routerLink="/login" mat-icon-button color="primary"> <mat-icon>arrow_back</mat-icon></button>
       
        <h2>Impressum</h2>
        <div class="work">Diese Seite ist meine Abschlußarbeit im Zuge der Weiterbildung zum Frontendentwickler bei der Developerakademie München.</div>
        <div class="address"> Julia Georgiew <br> Ickinger Str. 16 <br> 82335 Berg </div>
        <div><h4>Kontakt</h4></div>
        <div>Email: info@julia-georgiew.de </div>
    </div>
    <div class="sign-up">
        <div>Neu bei DABubble?</div> 
        <div class="important" routerLink="/signup"> Konto erstellen</div>
     </div>
</div>
 <!-- </div> <a target="_blank" href="https://icons8.com/icon/emjQ5sYXZdXI/pdf">PDF</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    <a target="_blank" href="https://icons8.com/icon/KJ2EV2uQqjHS/pdf">PDF</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>-->
    <!-- <a target="_blank" href="https://icons8.com/icon/JNPZ70My1I5A/men%C3%BC-2">Menü 2</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->
      <!-- </div> <a target="_blank" href="https://icons8.com/icon/emjQ5sYXZdXI/pdf">PDF</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
  <a target="_blank" href="https://icons8.com/icon/KJ2EV2uQqjHS/pdf">PDF</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>-->
  <!-- <a target="_blank" href="https://icons8.com/icon/JNPZ70My1I5A/men%C3%BC-2">Menü 2</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->
  <!-- <a target="_blank" href="https://icons8.com/icon/492ILERveW8G/m%C3%A4nnlicher-benutzer-eingekreist">Männlicher Benutzer eingekreist</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->