

<div class="container">
    <div class="logo">
        <img src="../../assets/img/logo.svg" alt="">
        <div>DABubble</div>
    </div>
    <div class="impressumContainer">
        <button routerLink="/login" mat-icon-button color="primary"> <mat-icon>arrow_back</mat-icon></button>
       
        <h2>Impressum</h2>
        <div class="work">Diese Seite ist meine Abschlußarbeit im Zuge der Weiterbildung zum Frontendentwickler bei der Developerakademie München.</div>
        <div class="address"> Julia Georgiew <br> Ickinger Str. 16 <br> 82335 Berg </div>
        <div><h4>Kontakt</h4></div>
        <div>Email: info@julia-georgiew.de </div>
    </div>
</div>
