<div class="singlePostContainer">
    <div *ngIf="singlePost" class="singlePost">
        <div class="profile-pic"><img src="{{author['img']}}"></div>
        <div class="post-content">
            <div class="firstRow">
                <div (click)="openProfile(author)" class="post-author">{{author['username']}}</div>
                <div class="postTime">{{time}} Uhr</div>
            </div>
            <div class="post-description">{{singlePost['description']}}</div>
        </div>
    </div>
    <div class="answers" *ngIf="countsOfThreads > 1">{{countsOfThreads}} Antworten</div>
    <div class="answers" *ngIf="countsOfThreads == 1">{{countsOfThreads}} Antwort</div>
    <div class="answers" *ngIf="countsOfThreads == 0">leider noch keine Antwort</div>
</div>