.dialogHeader {
    display: flex;
    justify-content: space-between;
}

.close {
    cursor: pointer;
}

.showProfileContainer {
    display: flex;
    flex-direction: column;
    margin: 25px;
    width: 300px;
    min-height: 500px;
}

.greenPoint {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: green;
    margin-right: 15px;
}

.redPoint {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: grey;
    margin-right: 15px;
}

.isActive {
    color: green;
}

.isInactive {
    color: grey;
}

.profilePic {
    display: flex;
    justify-content: center;
    cursor: pointer;

    .profileImg {
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
}

.email-details {
    margin-top: 15px;
    display: flex;

    mat-icon {
        margin-right: 15px;
    }
}

.profileStatus {
    display: flex;
    margin-bottom: 15px;
}

.colorMail {
    color: #1381FF;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

@media (max-width: 600px) {
    .showProfileContainer {
        width: 80vw;
        min-height: 500px;
    }

    .mat-dialog-container,
    .mat-mdc-dialog-container {
        width: 100%;
        max-width: 100%;
        height: 100vh;
        max-height: 100vh;
        padding: 0 !important;
        margin: 0 !important;
        border-radius: 0px;
        overflow-y: scroll;
    }

    .mat-mdc-dialog-container .mdc-dialog__surface {
        border-radius: 30px !important;

    }
}