<div class="input-container">
<form class="chatInput input-container" [formGroup]="chatMessage">
<!-- <mat-form-field  appearance="outline" class="fullWidth">
    <mat-label>Schreibe eine Nachricht ...</mat-label>
    <textarea formControlName="description" matInput placeholder="Schreibe eine Nachricht" ></textarea>
  </mat-form-field> -->
<textarea *ngIf="!singlePost" formControlName="description" id="message" name="meineTextarea"  rows="6" placeholder="Nachricht schreiben ...">
  
</textarea>
<textarea *ngIf="singlePost" formControlName="description" id="message" name="meineTextarea"  rows="6" placeholder="Antworten ...">
  
</textarea>

</form>
<div *ngIf="!singlePost" class="buttonSend" (click)="this.savePost(this.chatMessage)"><mat-icon>send</mat-icon></div>
<div *ngIf="singlePost" class="buttonSend" (click)="this.savePost(this.chatMessage, this.singlePost['id'])"><mat-icon>send</mat-icon></div>
</div>

<!-- <div class="buttonSend" (click)="this.savePost(this.chatMessage)"><mat-icon>send</mat-icon></div> -->