.input-container {
    display: flex;
    flex-direction:column;
    width: 100%;
    justify-content: center;
      z-index: 0;
      position: sticky;
      bottom: -5px;
      left: 30px;
    right: 30px;
      background-color: white;
      // margin-bottom: 20px;
     
  
      textarea {
        // position: absolute;
        font-family: 'Nunito';
        padding: 10px;
        // margin-left: 20px;
        // margin-right: 20px;
        margin: 0px 0px 30px 0px;
        width: calc(100% - 30px);
        border: 0px solid var(--light-purple-lines);
        border-radius: 20px;
outline: none;
      }
  
  }
  .buttonSend {
    position: sticky;
  margin-top: 90px;
    color: rgb(0, 139, 51);
  right: 60px;
  cursor: pointer;
  
  }
  
  .stick {
    position: absolute;
    bottom: 0px;
    right: 30px;
    color: darkblue;
    cursor: pointer;
  }

  .inputOptions {
    display: flex;
    position: absolute;
    bottom: 2px;
    left: 30px;
    align-items: flex-start;
    mat-icon {
      color: grey;
      
    }
    
    cursor: pointer;
  }
  
  .addDevide {
    height: 30px;
    border-right: 1px solid rgb(168, 168, 168);
    margin: 0px 10px;
    padding-right: 6px;
    cursor: pointer;
  }

  .attachement {
    margin-left: 20px;
    border-radius: 10px;
  
  }

  .relative {
    position: relative;
    margin: 10px 20px;
    width: calc(100% - 80px);
    border: 1px solid var(--light-purple-lines);
    border-radius: 20px;
  }

  .file-preview {
    margin: -30px 0 5px 100px;
  }