.input-container {
    display: flex;
    flex-direction:column;
    width: 100%;
    justify-content: center;
      z-index: 0;
      position: sticky;
      bottom: -5px;
      left: 30px;
    right: 30px;
      background-color: white;
      // margin-bottom: 20px;
     
  
      textarea {
        font-family: 'Nunito';
        padding: 10px;
        // margin-left: 20px;
        // margin-right: 20px;
        margin: 10px 20px;
        width: calc(100% - 80px);
        border: 1px solid var(--light-purple-lines);
        border-radius: 20px;
      }
  
  }
  .buttonSend {
    position: sticky;
  margin-top: 90px;
    color: darkblue;
  right: 60px;
  cursor: pointer;
  
  }
  
  .stick {
    position: absolute;
    bottom: 20px;
    right: 60px;
    color: darkblue;
    cursor: pointer;
  }
  