.addMemberContainer {
    margin: 15px;
    cursor:pointer;
}

.dialogHeader {
    display: flex;
    justify-content: space-between;
  }
  .close{
    cursor: pointer;
}

.profile-overview {
    padding: 0px 15px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 15px;
    margin-bottom: 5px;
    cursor: pointer;

    &:hover {
        background-color: var(--background-color);
        color: #535AF1;
    }
}

.profile-img {
    
    margin: 0 20px 0 0;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

ul {
    list-style: none; 
    padding: 0;
 }
 .search {
    border: 1px solid var(--light-purple-lines);
 }
 .channelTitle {
    font-size: 0.8em;
    color: #535AF1;
  }

