<div *ngIf="trueFalse" class="deviderBox">
       <div class="formatedDate">{{formatedDate}}</div>
</div>
<div *ngIf="trueFalse" class="dateDevider"></div>

<div *ngIf="author && (this.channelService.serviceChannel |async) as channel"   class="singlePost" [ngClass]="{'background-blue': showEditForm}">
  <div class="reactionEmoji">
    <emoji-mart
      class="emoji-mart"
      *ngIf="showPicker"
      (emojiSelect)="addReaction($event, channel)"
      [set] = "apple"
      [enableSearch] = "false"
      [showPreview] = "false"
      title="Choose your emoji"
    ></emoji-mart>
  </div>
<div class="reaction" [ngClass]="{'d-none': !showPost}">
   
    <!-- <button class=" custom-icon-button"  >
       
        <img src="../../assets/img/checkok.svg" alt="">
    </button>
    <button class=" custom-icon-button"  >
      
        <img src="../../assets/img/clap.svg" alt="">
      </button> -->
      <button class="custom-icon-button"  >
        <!-- <mat-icon>home</mat-icon> -->
        <img src="../../assets/img/add_reaction.svg" alt="">
      </button>
      <!-- <button class=" custom-icon-button"  >
        <mat-icon>home</mat-icon>
      </button> -->
      <button *ngIf="checkIfItIsCurrentUserPost()" class=" custom-icon-button" (click)="showEditPost = true" >
        <!-- <mat-icon>more_vert</mat-icon> -->
        <img src="../../assets/img/morevert.png" alt="" (click)="showPicker = !showPicker">
      </button>
      <div *ngIf="showEditPost">
        <div class="editPost" (click)="editThisPost(post)">Nachricht bearbeiten</div>
      </div>
</div>

    <div class="profile-pic"><img src="{{author['img']}}"></div>
    <div *ngIf="showPost" class="post-content">
       <div class="firstRow"> <div (click)="openProfile(author)" class="post-author">{{author['username']}}</div> <div class="postTime">{{time}} Uhr</div></div>
        <div [ngClass]="{'post-description': !flip, 'post-description-flip': flip}">
          {{post['description']}}
        </div>
       
        <div class="showAttachement"> 
          <a *ngIf="post['file']" [href]="downloadUrl" download="file.png" (click)="convertBase64ToFile()">
          <img *ngIf="post['file']" [src]="post['file']" alt="Bild"></a></div>
       

          <div class="reactionsRow">
            <img src="../../assets/img/add_reaction.svg" alt="" (click)="showPicker = !showPicker">
            <div *ngFor="let reaction of reactions">
                <div class="reactionBubble" 
                    (mouseover)="hoveredReaction = reaction"
                    (mouseout)="hoveredReaction = null"
                    (click)="this.smilyService.addOrDeleteReaction(reaction['emoji'], this.currentChannel, post['id'], this.currentUserID)">
                    {{reaction['emoji']}} {{reaction['user'].length}}
                    
                    <div class="additionalInfo" [ngClass]="{'visible': hoveredReaction === reaction}">
                        {{reaction['emoji']}}  <br> 
                        
                        <!-- Lassen Sie 'currentUser' immer an erster oder zweiter Stelle erscheinen -->
                        <ng-container *ngIf="reaction['names'].includes(currentUserName)">
                            Du
                        </ng-container>
                        <ng-container *ngIf="reaction['names'].length == 2 && reaction['names'].includes(currentUserName)">und</ng-container>
                        <ng-container *ngFor="let name of reaction['names']| slice:0:2 ; let i = index ">
                            <!-- Filtere 'currentUser' heraus, da es bereits hinzugefügt wurde -->
                            <ng-container *ngIf="name !== currentUserName">
                                {{ name }}
                            </ng-container>
                            <ng-container *ngIf="!reaction['names'].includes(currentUserName) && reaction['names'].length == 2 && i === 0" >und</ng-container>
                        </ng-container>
                        
                        
                        <!-- Zeige den Zusatz nur an, wenn die Länge des Namens-Arrays größer als 1 ist -->
                        <ng-container *ngIf="reaction['names'].length > 2">
                            und {{reaction['names'].length - 2}} weitere
                        </ng-container>
        
                        <br>
        
                        <!-- Verwende 'haben reagiert', 'hast reagiert' oder 'hat reagiert' basierend auf der Anzahl der Reaktionen und ob 'currentUser' involviert ist -->
                        <ng-container *ngIf="reaction['names'].length >= 2">haben reagiert</ng-container>
                        <ng-container *ngIf="reaction['names'].length === 1 && reaction['names'][0] === currentUserName">hast reagiert</ng-container>
                        <ng-container *ngIf="reaction['names'].length < 2 && !(reaction['names'].length === 1 && reaction['names'][0] === currentUserName)">hat reagiert</ng-container>
        
                    </div>
                </div>
            </div>
        </div>
        
        

   
      

       <div class="postAnswer" (click)="getThread(this.postService.activeChannel, this.post.id); this.drawerService.open(); this.threadService.getPostForThread(this.post, this.author)">
          <div class="blue">{{numberOfThreads}} Antworten </div>
          <div class="postTime">letzte Antwort ....</div>
        </div>
       
    </div>
    <div *ngIf="showEditForm" class="editbox">
      <div  class="showEditForm">
        <textarea
        #textarea
        [(ngModel)]="this.post['description']"
        matInput
        placeholder="Deine Nachricht"
      ></textarea>
      <div class="button-section">
        <button  (click)="cancel()" [disabled]="" class="lightButton">Abbrechen</button>
        <button   (click)="updatePost()" [disabled]="" class="darkButton">Speichern</button>

</div>
      </div>
      <div class="inputOptions">  <div class="emoji"  (click)="showEmojiPicker = !showEmojiPicker">
        😀
      </div></div>
      <div class="emojiPickerPostDetail">
        <emoji-mart
          class="emoji-mart"
          *ngIf="showEmojiPicker"
          (emojiSelect)="addEmoji($event)"
          [set] = "apple"
          [enableSearch] = "false"
          [showPreview] = "false"
          title="Wähle Dein Emoji"
        ></emoji-mart>
      </div>
    </div>
   
</div>


 <!-- <a target="_blank" href="https://icons8.com/icon/JNPZ70My1I5A/men%C3%BC-2">Menü 2</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->