<div *ngIf="trueFalse" class="deviderBox">
       <div class="formatedDate">{{formatedDate}}</div>
</div>
<div *ngIf="trueFalse" class="dateDevider"></div>

<div *ngIf="author && (this.channelService.serviceChannel |async) as channel"   class="singlePost" [ngClass]="{'background-blue': showEditForm}">
  <div class="reactionEmoji">
    <emoji-mart
      class="emoji-mart"
      *ngIf="showPicker"
      (emojiSelect)="addReaction($event, channel)"
      title="Choose your emoji"
    ></emoji-mart>
  </div>
<div class="reaction" [ngClass]="{'d-none': !showPost}">
   
    <!-- <button class=" custom-icon-button"  >
       
        <img src="../../assets/img/checkok.svg" alt="">
    </button>
    <button class=" custom-icon-button"  >
      
        <img src="../../assets/img/clap.svg" alt="">
      </button> -->
      <button class="custom-icon-button"  >
        <!-- <mat-icon>home</mat-icon> -->
        <img src="../../assets/img/add_reaction.svg" alt="">
      </button>
      <!-- <button class=" custom-icon-button"  >
        <mat-icon>home</mat-icon>
      </button> -->
      <button *ngIf="checkIfItIsCurrentUserPost()" class=" custom-icon-button" (click)="showEditPost = true" >
        <!-- <mat-icon>more_vert</mat-icon> -->
        <img src="../../assets/img/morevert.png" alt="">
      </button>
      <div *ngIf="showEditPost">
        <div class="editPost" (click)="editThisPost(post)">Nachricht bearbeiten</div>
      </div>
</div>

    <div class="profile-pic"><img src="{{author['img']}}"></div>
    <div *ngIf="showPost" class="post-content">
       <div class="firstRow"> <div (click)="openProfile(author)" class="post-author">{{author['username']}}</div> <div class="postTime">{{time}} Uhr</div></div>
        <div [ngClass]="{'post-description': !flip, 'post-description-flip': flip}">{{post['description']}}</div>
        <div class="reactionsRow">
         
          <!-- <mat-icon>home</mat-icon> -->
          <img src="../../assets/img/add_reaction.svg" alt="" (click)="showPicker = !showPicker">
        
      </div>
       <div class="postAnswer" (click)="getThread(this.postService.activeChannel, this.post.id); this.drawerService.open(); this.threadService.getPostForThread(this.post, this.author)">
          <div class="blue">{{numberOfThreads}} Antworten </div>
          <div class="postTime">letzte Antwort ....</div>
        </div>
       
    </div>
    <div *ngIf="showEditForm" class="editbox">
      <div  class="showEditForm">
        <textarea
        [(ngModel)]="this.post['description']"
        matInput
        placeholder="Deine Nachricht"
      ></textarea>
      <div class="button-section">
        <button  (click)="cancel()" [disabled]="" class="lightButton">Abbrechen</button>
        <button   (click)="updatePost()" [disabled]="" class="darkButton">Speichern</button>

</div>
      </div>
      <div class="inputOptions">  <div class="emoji"  (click)="showEmojiPicker = !showEmojiPicker">
        😀
      </div></div>
      <div class="emojiPickerPostDetail">
        <emoji-mart
          class="emoji-mart"
          *ngIf="showEmojiPicker"
          (emojiSelect)="addEmoji($event)"
          title="Choose your emoji"
        ></emoji-mart>
      </div>
    </div>
   
</div>


 <!-- <a target="_blank" href="https://icons8.com/icon/JNPZ70My1I5A/men%C3%BC-2">Menü 2</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> -->