<ul>
    <li 
    class="message"
    (click)="this.messageService.getThisChat(user['id']);setMode(true); this.drawerService.close(); this.messageService.setChatUser(user); this.pushChatUser(user); this.messageService.getChatLength(user['id'])"
    [routerLink]="['/home','chat', user['id']]"
    routerLinkActive="active">
   
      <div class="profile-overview">
        <div class="relativePic">
          <img class="profile-img" src="{{user['img']}}" alt="">
          <div class="status"  [ngClass]="{'green': user['active'], 'grey': !user['active']}" ></div>
          </div>
          <div *ngIf="user['id'] != this.currentUserID" class="profile-name">{{ user['username']}}</div>
          <div *ngIf="user['id'] == this.currentUserID" class="profile-name">{{ user['username']}} (Du)</div>
     </div>
    
     
    </li>
   </ul>
