<!-- <div *ngIf="trueFalse" class="deviderBox">
    <div class="formatedDate">{{formatedDate}}</div>
</div>
<div *ngIf="trueFalse" class="dateDevider"></div> -->

<div *ngIf="author"  class="singlePost">
    <div class="profile-pic"><img src="{{this.author['img']}}"></div>
    <div class="post-content">
       <div (click)="openProfile(author)" class="firstRow"> <div class="post-author">{{this.author['username']}}</div> <div class="postTime">{{time}} Uhr</div></div>
        <div class="post-description">{{this.thread.description}}</div>
        <div class="showAttachement"> 
            <a *ngIf="thread['file']" [href]="downloadUrl" download="file.png" (click)="convertBase64ToFile()">

            <img *ngIf="thread['file']" [src]="thread['file']" alt="Bild"></a></div>
       
    </div>
</div>
