.profile-pic {
    margin-right: 30px;

    img {
        border-radius: 50%;
        width: 60px;
        height: 60px;
    }
    }
.singlePost {
    margin-top: 30px;
}   

.post-author {
    font-weight: 700;
}
.post-description {
    background-color: var(--background-color);
    border-top-right-radius: 20px; 
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.firstRow {
    display: flex;
    align-items: center;
    cursor: pointer;

}

.postTime {
    margin-left: 20px;
    font-size: 12px;
    color: grey;
}
.showAttachement {
    width: 90%;
  

    img {
        width: 80%;
    }
}

.reactionBubble {
    position: relative;
    border: 1px solid  #ADB0D9;
    background-color: white;
    padding:0px 10px;
    border-radius: 20px;
    margin: 0 5px;
    display: flex;
    align-items: center;
    cursor: pointer !important;

    // &:hover {
    //     .additionalInfo{
    //         opacity: 1;
    //     }
    // }   
}

.additionalInfo {
    padding: 10px 0;
   opacity: 0;
   position: absolute;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
        top: -103px;
        left: 30px;
        width: 150px;
        height: 80px;
        border-radius: 20px;
        background-color: #444DF2;
        color: white;
        font-size: 0.8em;
        line-height: 1em;
        transition: opacity 0.3s ease-in-out;
        border-bottom-left-radius: 0 !important;

        .emojiIcon {
            margin: 10px 10px;
            font-size: 2.0em !important
        }
   
}

.additionalInfo.visible {
    opacity: 1;
}
.reactionsRow {
    display: flex;
}