<!-- <div *ngIf="trueFalse" class="deviderBox">
    <div class="formatedDate">{{formatedDate}}</div>
</div>
<div *ngIf="trueFalse" class="dateDevider"></div> -->

<div *ngIf="author"  class="singlePost">


    <div class="reactionEmojiThread">
        <emoji-mart
          class="emoji-mart"
          [style]="{ width: '238px' }"
          *ngIf="showPicker"
          (emojiSelect)="addReaction($event, singlePost['id'], thread['id'])"
          [set] = "apple"
          [enableSearch] = "false"
          [showPreview] = "false"
          title="Choose your emoji"
        ></emoji-mart>
      </div>


      <div *ngIf="checkIfItIsCurrentUserPost()" class="reaction" [ngClass]="{'d-none': !showPost}">
   
     <button  class=" custom-icon-button" (click)="showEditThread = true; activateTimer()" >
      
       <img src="../../assets/img/morevert.png" alt="" >
     </button>
          
         <div *ngIf="showEditThread">
           <div class="editPost" (click)="editThisThread(thread); showEditform = true;">Nachricht bearbeiten</div>
         </div>
   </div>

<div class="flex" *ngIf="showPost" [ngClass]="{'background-blue': showEditForm}">
    <div class="profile-pic"><img src="{{this.author['img']}}"></div>
    <div >
    <div class="post-content">
       <div (click)="openProfile(author)" class="firstRow"> <div class="post-author">{{this.author['username']}}</div> <div class="postTime">{{time}} Uhr</div></div>
        <div class="post-description">{{this.thread.description}}</div>
    
       

              <!-- show attachement-->
        <div class="showAttachement"> 
            <a *ngIf="thread['file'] && !isPDF" [href]="downloadUrl" download="file.png" (click)="convertBase64ToFile()">
            <img *ngIf="thread['file'] && !isPDF" [src]="thread['file']" alt="Bild"></a>
            <canvas #pdfCanvasThread *ngIf="isPDF" (click)="downloadPDF()"></canvas> 
          </div>
        </div>
            <div class="reactionsRow">
                <img src="../../assets/img/add_reaction.svg" alt="" (click)="showPicker = !showPicker">
           
                <div *ngFor="let reaction of reactions$">
                  <ng-container *ngIf="reaction['user'].length > 0">
                    <div class="reactionBubble" 
                        (mouseover)="hoveredReaction = reaction"
                        (mouseout)="hoveredReaction = null"
                        (click)="this.smilyService.addOrDeleteReactionThread(reaction['emoji'], this.currentChanneID, singlePost['id'], thread['id'],this.currentUserID)">
                        {{reaction['emoji']}} {{reaction['user'].length}}
                        
                        <div class="additionalInfo" [ngClass]="{'visible': hoveredReaction === reaction}">
                           <div class="emojiIcon">{{reaction['emoji']}}</div>    
                            
                            <!-- Lassen Sie 'currentUser' immer an erster oder zweiter Stelle erscheinen -->
                            <ng-container *ngIf="reaction['names'].includes(currentUserName)">
                                Du
                            </ng-container>
                            <ng-container *ngIf="reaction['names'].length == 2 && reaction['names'].includes(currentUserName)">und</ng-container>
                            <ng-container *ngFor="let name of reaction['names']| slice:0:2 ; let i = index ">
                                <!-- Filtere 'currentUser' heraus, da es bereits hinzugefügt wurde -->
                                <ng-container *ngIf="name !== currentUserName">
                                    {{ name }}
                                </ng-container>
                                <ng-container *ngIf="!reaction['names'].includes(currentUserName) && reaction['names'].length == 2 && i === 0" >und</ng-container>
                            </ng-container>
                            
                            
                            <!-- Zeige den Zusatz nur an, wenn die Länge des Namens-Arrays größer als 1 ist -->
                            <ng-container *ngIf="reaction['names'].length > 2">
                                und {{reaction['names'].length - 2}} weitere
                            </ng-container>
            
                            <br>
            
                            <!-- Verwende 'haben reagiert', 'hast reagiert' oder 'hat reagiert' basierend auf der Anzahl der Reaktionen und ob 'currentUser' involviert ist -->
                            <ng-container *ngIf="reaction['names'].length >= 2">haben reagiert</ng-container>
                            <ng-container *ngIf="reaction['names'].length === 1 && reaction['names'][0] === currentUserName">hast reagiert</ng-container>
                            <ng-container *ngIf="reaction['names'].length < 2 && !(reaction['names'].length === 1 && reaction['names'][0] === currentUserName)">hat reagiert</ng-container>
            
                        </div>
                    </div>
                  </ng-container>
                </div>
            </div>
       
</div>
           


    </div>
    <div *ngIf="showEditForm" class="editbox">
      <div  class="showEditForm">
        <textarea
        #textarea
        [(ngModel)]="this.thread['description']"
        matInput
        placeholder="Deine Nachricht"
      ></textarea>
      <div class="button-section">
        <button  (click)="cancel()" [disabled]="" class="lightButton">Abbrechen</button>
        <button   (click)="updateThread()" [disabled]="" class="darkButton">Speichern</button>

</div>
      </div>
      <!-- <div class="inputOptions">  <div class="emoji"  (click)="showEmojiPicker = !showEmojiPicker">
        😀
      </div></div>
      <div class="emojiPickerPostDetail">
        <emoji-mart
          class="emoji-mart"
          *ngIf="showEmojiPicker"
          (emojiSelect)="addEmoji($event)"
          [set] = "apple"
          [enableSearch] = "false"
          [showPreview] = "false"
          title="Wähle Dein Emoji"
        ></emoji-mart>
      </div> -->
    </div>
</div>
