/* You can add global styles to this file, and also import other style files */
:root {
    --background-color: #ECEEFE;
}
html, body { 
    height: 100%; 
    font-family: 'Nunito', sans-serif;
}
body { 
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

h2 {
    color: #444DF2;
    font-size: 2em;
    line-height: 55px;
    text-align: center;
    font-weight: 700;
}