<div class="container">
  <div class="profile-up-right">
    <app-user-profile *ngIf="this.currentUser" [currentUser]="this.currentUser"></app-user-profile>
  </div>
    <div class="content">

    <mat-drawer-container class="example-container" autosize>
        <mat-drawer #leftDrawer class="sidenavLeft" mode="side" opened="true">Drawer channels content</mat-drawer>
        <mat-drawer-content class="main">Main content</mat-drawer-content>
        <mat-drawer #rightDrawer class="sidenavRight" position="end" mode="side" opened = "true" >Drawer thread content 
   
        </mat-drawer>
      </mat-drawer-container>
      </div>
</div>