<div class="container">
  <div
    class="layerToggle"
    [ngClass]="{ 'd-none': isSmallScreen }"
    (click)="leftDrawer.toggle()"
  >
    <div class="rotatedText">Workspace open / close</div>
  </div>

  <div class="header">
    <div  class="logo_small" *ngIf="isDrawerOpen  && !this.drawerService.showCodeLearningLogo.value" >
      <img src="../../assets/img/logo.svg" alt="" />
      <div>DABubble</div>
    </div>
    <div class="leftDrawerTop" *ngIf="this.drawerService.showCodeLearningLogo.value">
      <mat-icon (click)="goBack()"> keyboard_arrow_left </mat-icon>
      <img src="../../assets/img/WorkspaceLogo.svg" alt="" />
      <div class="leftDrawerTopic">Code learning</div>
     
    </div>

    <div class="search"></div>
    <div class="profile-up-right">
      <app-user-profile
        *ngIf="this.currentUser"
        [currentUser]="this.currentUser"
      ></app-user-profile>
    </div>
  </div>

  <div class="content">
    <mat-drawer-container class="example-container" autosize>
      <mat-drawer 
      #leftDrawer 
      mode="side" 
      class="sidenavLeft" 
      [opened]="drawerService.getDrawerState() | async">
        <app-left-drawer  (callToggle)="toggleLeftDrawer()"></app-left-drawer>
      </mat-drawer>
      <mat-drawer-content class="main">
        <router-outlet></router-outlet>
      </mat-drawer-content>
      <mat-drawer
        #rightDrawer
        class="sidenavRight"
        position="end"
        mode="over"
        opened="false"
      >
        <app-thread-container></app-thread-container>
      </mat-drawer>
    </mat-drawer-container>
  </div>
</div>
