.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color);
    // height: 150px;
    width: 98%;
    // padding: 15px;
    // margin: 20px;
}

.logo_small {
   margin: 20px;
    display: flex;
    align-items: center;
    font-size: 1.8em;
     img {
      padding-right: 5px;
      width: 40px;
      height: 40px;
     }
}
.sidenavLeft {
    
    // width: 300px;
    background-color: white;
    border-radius:20px;
    margin-right: 15px;
    padding: 20px;
}

.sidenavRight {
    
   width: 345px;
    background-color: white;
    border-radius:20px;
    margin-left: 15px;
    padding: 20px;
}
.main{
    position: relative;
   height: 78vh;
//    min-width: 500px;
    border: 20px solid var(--background-color);
    border-radius: 40px;
    background-color: white;
    padding: 65px 20px 5px 20px;
}

.layerToggle {
    z-index: 50;
    position: absolute;
    left: 0;
    bottom: 200px;
    width: 35px;
    height: 220px;
    background-color: white;
    box-shadow: 5px 5px 10px silver;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
  
   
  
}

.rotatedText {
    position: absolute;
    width: 200px;
    left: 5px;
    bottom: 0px;
    z-index:60;
     transform: rotate(-90deg);
     transform-origin: top left;
    
 }
.content {
    width: 100%;
    margin: 0 15px;
    background-color: var(--background-color);
  
   
}

.profile-up-right {
    // position: absolute;
    // top: 20px;
    // right: 20px;
    width: 485px;
    // height:100px;
}
mat-drawer {
    margin: 25px 10px;
}

mat-drawer-content {
border: 20px solid var(--background-color);
    margin: 5px;
}

mat-drawer-container {
    margin: 0;
}
.example-container{
    background-color: var(--background-color);
} 

