.profile-overview {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;

}

.profile-img {
    margin: 0 20px 0 20px;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}


@media(max-width: 600px){

    .userProfile {
   display: flex;
   justify-content: flex-end;
    }

    .profile-img {
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

}
