.profile-overview {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 20px;
}

.profile-img {
    margin: 0 20px 0 20px;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}